In [78]:
#import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [22]:
#movies
movies = pd.read_csv('movies.csv')
print(movies.info())
movies.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
None

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [70]:
#ratings 
ratings = pd.read_csv('ratings.csv')
print(ratings.head())
print(ratings.info())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None

In [8]:
#tags
tags = pd.read_csv('tags.csv')
tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [73]:
#Because the lowest value in ratings is 0.5, therefore 0 can be considered as nan values
df=ratings[['userId','movieId','rating']]
matrix=pd.pivot_table(df, values='rating', index=['userId'],
                    columns=['movieId'])
matrix=matrix.fillna(0)

In [89]:
#func 1
def count_sparsity(data): 
    """Count Sparsity

    Args:
        data (2D Matrix): rating matrix
    """
    count=0
    for i in matrix.columns:
        for j in matrix.index: 
            if data[i][j]==0:
                count+=1
    print('The sparsity density in the given matrix is: ', count*100/(len(matrix.columns)*len(matrix.index)))

#func 2
def get_train_test(data):
    """Split matrix into train and test

    Args:
        data (2D matrix): rating matrix

    Returns:
        train, test data
    """
    a = np.random.randint(70,88)
    b = int(a*len(data.index)/100)
    train = data[::][:b]
    test = data[::][b:]

    return train, test

# func 3: Matrix factorization: 

def MF(R,P,Q,alpha,beta): 
    """Matrix factorization function

    Args:
        R (2D matrix): rating matrix (user*movies)
        P (2D matrix): latent user matrix (user*latent)
        Q (2D matrix): item user matrix (latent*movies)
        alpha (float): learning rate
        beta (float): bias rate
    """
    # Make sure that k<number of movies 
    assert P.shape[1]<R.shape[1]

    # First we reconstruct a new matrix from P and Q: 
    R_new = np.dot(P,Q)
    
    # Get the error: 
    E = pow((R-R_new),2)

In [76]:
# count_sparsity(matrix)

The sparsity density in the given matrix is:  98.30003169443864

In [90]:
train,test=get_train_test(matrix)

In [96]:
train.values.shape

(518, 9724)